<p>
<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),html: { method: :delete }) do |f| %>
  <%= f.submit "Unfollow",class: "btn btn-primary" %>
<% end %>
</p>
<!--
former sends a POST request to the Relationships controller to create a relationship, while the latter sends a DELETE request to destroy a relationship
-->